/*@import "{}/imports/ui/stylesheets/not-found.less";*/


/*++++++++++++++Navigation Bar++++++++++++++*/
.navContainer{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid grey;
}

.navLink{
  margin-left: 5px;
  padding: 3px;
}

.navCenter{
  padding: 3px;
}

/*------------End Navigation Bar------------*/

/*++++++++++++++Table Insert++++++++++++++*/
.searchBar-wrapper{
  width: 300px;
  display: inline-block;;
}

.input-country{
  width: 230px;
}

div.tcoll0 {
  width: 5.56%;
  padding: 3px;
  display: inline-block;
}

div.tcoll1 {
  width: 33.2%;
}

div.tcoll2 {
  width: 16.66%;
}

div.tcoll3 {
  width: 16.66%;
}

div.tcoll4 {
  width: 16.66%;
}

div.tcoll5 {
  width: 11.11%;
  padding: 3px;
  display: inline-block;
}

div.trow {
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
}

div.tcell {
  padding: 3px;
  display: inline-block;
  border: 1px solid red;
}

.input {
  width: 100px;
  margin-left: 5px;
}

.table {
  overflow: hidden;
}

.hidden {
  overflow: hidden;
  height: 0px;
}

.locationPin {
  padding: 5px;
  border: 1px solid green;
  margin: 5px 0;
}

.years {
  margin: 0;
  list-style-type: none;
  display: inline-block;
}


.years > li {
  margin-right: 10px;
  display: inline-block;
  float: left;
}

.selected {
  background: #a2a2a2;
}
/*------------End Table Insert------------*/

div.row {
  border: 1px solid green;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

div.head {
  font-weight: bold;
  background: #e6ffcc;
  text-align: center;
  width: 100%;
}

div.cell {
  display: inline-block;
  width: 33%;
}

.row.table-header {
  background: #a0cc72;
  text-align: center;
  font-weight: bold;
}

div.group > div:nth-of-type(odd) {
  background: #e8f5e8;
}

.cell.coll-1 {
  text-align: left;
}

.table-header .cell.coll-1 {
  text-align: center;
}

.table-container {
  width: 70%;
  margin: 0 auto;
}

@media screen and (max-width: 300px) {
  div.row {
    flex-direction: column;
    align-items: flex-start;
  }
  .row.table-header {
    align-items: flex-start;
  }
  div.cell {
    display: flex;
    width: 100%;
    align-items: flex-end;
  }
}

