/*@import "{}/imports/ui/stylesheets/not-found.less";*/


/*++++++++++++++Navigation Bar++++++++++++++*/
.navContainer{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid grey;
}

.navLink{
  margin-left: 5px;
  padding: 3px;
}

.navCenter{
  padding: 3px;
}

/*------------End Navigation Bar------------*/

/*++++++++++++++Table Insert++++++++++++++*/
.collapse{
  height: 0px;
}


/*------------End Table Insert------------*/

div.row {

}

div.head {
  font-weight: bold;

}

div.cell {
  display: inline-block;
  width: 19%;
  border: 1px solid green;
}
