::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-style: italic;
}
::-moz-placeholder { /* Firefox 19+ */
  font-style: italic;
}
:-ms-input-placeholder { /* IE 10+ */
  font-style: italic;
}
:-moz-placeholder { /* Firefox 18- */
  font-style: italic;
}

.tcoll1.tcell .input {
  width: 48%;
  padding-left: 7px;
  text-align: left;
}

.trow.table-header .tcell {
  text-align: center;
  background: #a0cc72;
  padding: 3px;
}

input.input {
  text-align: center;
  height: 100%;
  border-width: 0;
  padding: 0;
  margin: 0;
  outline: none;
  width: 100%;
  background-color: rgba(80, 230, 100, 0);
}


.input-sort {
  height: 100%;
  border-width: 0;
  padding: 3px 5px;
  margin: 0;
  outline: none;
  width: 87%;
  background-color: rgba(80, 230, 100, 0);
}

.trow.group-name {
  margin: 6px 0 6px 3px;
  padding: 4px;
  font-weight: bold;
  box-shadow: 1px 1px 2px 2px rgba(185, 185, 185, 1);
}

.trow.group-name:hover {
  box-shadow: 1px 1px 1px 1px rgba(185, 195, 185, 1);
}

.trow.expand {
  margin-right: 3%;
  margin-bottom: 2px;
}

.insert-list {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  background: #34b7d9;
  padding: 1px 5px 1px 5px;
  text-decoration: none;
}

.insert-list:hover {
  cursor: pointer;
  background: #a2d2de;
  text-decoration: none;
}

.action {
  width: 12px;
  padding: 1px 5px 1px 5px;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
}

.add-crop {
  float: left;
  margin: 0 7px;
  color: rgba(10, 60, 10, 0.6);
  font-weight: bold;
  cursor: pointer;
}

.add-crop:hover {
  color: rgba(10, 60, 10, 1);
  font-weight: bold;
}

.remove-crop {
  float: left;
  margin: 0 7px;
  color: rgba(200, 10, 10, 0.4);
  font-weight: bold;
  cursor: pointer;
}

.remove-crop:hover {
  color: rgba(200, 10, 10, 1);
}

.searchBar-wrapper {
  position: relative;
  width: 100%;
  text-align: right;
}


.search-param {
  width: 100%;
  float: left;
  margin: 4px 0;
}

.select-button {
	-moz-box-shadow: 1px 1px 0px 0px #899599;
	-webkit-box-shadow: 1px 1px 0px 0px #899599;
	box-shadow: 1px 1px 0px 0px #899599;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #bab1ba));
	background:-moz-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-o-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab1ba',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:13px;
	padding:1px 8px;
	text-decoration:none;
  margin-left: 20px;
  outline: none;
  height: 28px;
}
.select-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bab1ba), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-o-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bab1ba', endColorstr='#ededed',GradientType=0);
	background-color:#bab1ba;
}

.select-button:disabled {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bab1ba), color-stop(1, #bab1ba));
	background:-moz-linear-gradient(top, #bab1ba 5%, #bab1ba 100%);
	background:-webkit-linear-gradient(top, #bab1ba 5%, #bab1ba 100%);
	background:-o-linear-gradient(top, #bab1ba 5%, #bab1ba 100%);
	background:-ms-linear-gradient(top, #bab1ba 5%, #bab1ba 100%);
	background:linear-gradient(to bottom, #bab1ba 5%, #bab1ba 100%);
  background-color:#bab1ba;
  border: none;
  box-shadow: none;
  cursor: auto;
}

.select-button:active {
  transform: translate(1px, 1px);
}


.input-country {
  height: 27px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #C2C2C2;
  box-shadow: 1px 1px 4px #EBEBEB;
  -moz-box-shadow: 1px 1px 4px #EBEBEB;
  -webkit-box-shadow: 1px 1px 4px #EBEBEB;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 0px 0px 0px 7px;
  outline: none;
}

.input-country:focus {
  border: 1px solid rgba(145, 200, 95, 1);
}

div.tcoll1 {
  width: 55%;
}

div.tcoll2 {
  width: 15%;
}

div.tcoll3 {
  width: 15%;
}

div.tcoll4 {
  width: 15%;
}

div.trow-crop {
  margin-left: 2%;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
}

div.trow {
  margin-left: 1%;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
}

div.tcell {
  font-size: 1.05rem;
  text-align: center;
  display: inline-block;
  background-color: rgba(80, 230, 100, 0.09);
  margin-left: 3px;
  margin-bottom: 3px;
  padding: 1px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(130, 155, 200, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(130, 155, 200, 0.75);
  box-shadow: 2px 2px 2px 0px rgba(130, 155, 200, 0.75);
}

.tcoll1.tcell {
  text-align: left;
}

.table-title {
  text-align: center;
  font-weight: bold;
  margin: 0px 0px 20px 0px;
  color: rgba(5, 85, 75, 1);
}

.table {
  margin: 0px auto;
  overflow: hidden;
  width: 80%;
  max-width: 1200px;
}

.hidden {
  overflow: hidden;
  height: 0px;
}

.pin {
  float: left;
}

.pin-locations {
  width: 100%;
}


.locationPin {
  margin: 0px 1px;
  padding: 2px 4px;
  max-width: 20%;
  line-height: 1em;
  font-size: 0.9em;
  overflow: hidden;
  cursor: pointer;
}

.locationPin:hover {
  background-color: rgba(120, 130, 100, 0.7);
  color: rgba(255, 240, 130, 1);
}

.control-bar {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 75%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn {
  -moz-box-shadow: 1px 1px 0px 0px #899599;
  -webkit-box-shadow: 1px 1px 0px 0px #899599;
  box-shadow: 1px 1px 0px 0px #899599;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, rgba(135, 143, 146, 1)), color-stop(1, rgba(188, 189, 187, 0.9)));
  background:-moz-linear-gradient(to bottom, rgba(135, 143, 146, 1) 5%, rgba(188, 189, 187, 0.9) 100%);
  background:-webkit-linear-gradient(to bottom, rgba(135, 143, 146, 1) 5%, rgba(188, 189, 187, 0.9) 100%);
  background:-o-linear-gradient(to bottom, rgba(135, 143, 146, 1) 5%, rgba(188, 189, 187, 0.9) 100%);
  background:-ms-linear-gradient(to bottom, rgba(135, 143, 146, 1) 5%, rgba(188, 189, 187, 0.9) 100%);
  background: linear-gradient(to bottom, rgba(135, 143, 146, 1) 5%, rgba(188, 189, 187, 0.9) 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468cf0', endColorstr='##8cafdc',GradientType=0);
  margin-left: 10px;
  text-align: center;
  cursor: pointer;
  height: 100%;
  padding: 2px 8px 2px 8px;
  border-radius: 4px;
  color: #ffffff;
  border:none;
}

.btn:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, rgba(140, 175, 120, 0.9)), color-stop(1, rgba(140, 175, 120, 0.9)));
	background:-moz-linear-gradient(top, rgba(140, 175, 120, 0.9) 5%, rgba(140, 175, 120, 0.9) 100%);
	background:-webkit-linear-gradient(top, rgba(140, 175, 120, 0.9) 5%, rgba(140, 175, 120, 0.9) 100%);
	background:-o-linear-gradient(top, rgba(140, 175, 120, 0.9) 5%, rgba(140, 175, 120, 0.9) 100%);
	background:-ms-linear-gradient(top, rgba(140, 175, 120, 0.9) 5%, rgba(140, 175, 120, 0.9) 100%);
	background:linear-gradient(to bottom, rgba(140, 175, 120, 0.9) 5%, rgba(140, 175, 120, 0.9) 100%);
}

.btn:active {
  transform: translate(1px, 1px);
}

.years-container {
  margin-top: 5px;
  width: 85%;
  margin: 0 auto;
}

.years {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline-block;
}

.li-class {
  font-size: 0.8rem;
  margin: 3px 2px 0px 2px;
  display: inline-block;
  float: left;
  cursor: pointer;
  padding: 2px 10px;
  border-bottom: 1px solid rgba(10, 100, 10, 0.8);
  border-right: 1px solid rgba(10, 100, 10, 0.8);
  transform: skew(15deg);
}

.li-class div {
  transform: skew(-15deg);
}

.li-class:hover {
  padding: 2px 10px 6px 10px;
}

.selected {
  padding: 2px 10px 6px 10px;
}

.cropName {
  width: 50%;
  float: left;
}


.search-icon-div {
  position: absolute;
  top: 5px;
  right: 7px;
  opacity: 0.3;
  padding: 0px;
}

.search-icon-div:hover {
  opacity: 1;
}

.modal-location {
  background-color: white;
  position: absolute;
  left: 35%;
  top: 35%;
  width: 30%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 15px 2px #899599;
}

@media screen and (max-width: 500px) {
  .control-bar {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
