.filter-select-container {
  background-color: transparent;
}

.select-filter {
  font-size: 0.8rem;
  text-align: center;
  padding: 5px 0px;
  border: none;
  background-color: transparent;
  outline: none;
  width: 190px;
}

.select-filter-option {
  font-size: 0.8em;
  background: rgba(145, 200, 9, 0.1);
}

.filter-title-page {
  text-align: center;
  font-size: 0.8rem;
  margin: 5px 0 5px 5px;
  letter-spacing: 1px;
}

.statistic-param {
  padding: 5px 0 5px 5px;
  font-size: 0.8em;
}

.checkbox-span {
  margin-right: 10px;
  vertical-align: top;
}

.statistic-input {
  width: 11px;
  height: 11px;
  cursor: pointer;
}
