.filter-select-container {
  background-color: transparent;
}

.select-filter {
  font-size: 0.9rem;
  text-align: center;
  padding: 8px 5px;
  border: none;
  background-color: transparent;
  outline: none;
}

.select-filter-option {
  font-size: 0.8em;
  background: rgba(145, 200, 9, 0.1);
}

.filter-title-page {
  text-align: center;
  font-size: 0.9rem;
  padding: 5px 0 5px 5px;
  letter-spacing: 1px;
}

.statistic-param {
  padding: 7px 0 5px 5px;
  font-size: 0.7em;
}

.checkbox-span {
  margin-right: 20px;
  vertical-align: top;
}

.statistic-input {
  width: 10px;
  height: 10px;
}
