.login-page {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  padding-top: 10%;
}

.label {
  display: block;
  font: 13px Arial, Helvetica, sans-serif;
  color: #888;
  margin-bottom: 15px;
}

.label span {
  margin-left: 3px;
}

.name-change {
  display: block;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  
  outline: none;
}

.login-submit {
  -moz-box-shadow: 1px 1px 0px 0px #899599;
  -webkit-box-shadow: 1px 1px 0px 0px #899599;
  box-shadow: 1px 1px 0px 0px #899599;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, rgba(125, 135, 135, 1)), color-stop(1, rgba(185, 190, 180, 0.8)));
  background:-moz-linear-gradient(top, rgba(125, 135, 135, 1) 5%, rgba(185, 190, 180, 0.8) 100%);
  background:-webkit-linear-gradient(top, rgba(125, 135, 135, 1) 5%, rgba(185, 190, 180, 0.8) 100%);
  background:-o-linear-gradient(top, rgba(125, 135, 135, 1) 5%, rgba(185, 190, 180, 0.8) 100%);
  background:-ms-linear-gradient(top, rgba(125, 135, 135, 1) 5%, rgba(185, 190, 180, 0.8) 100%);
  background:linear-gradient(to bottom, rgba(125, 135, 135, 1) 5%, rgba(185, 190, 180, 0.8) 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468cf0', endColorstr='##8cafdc',GradientType=0);
  margin-left: 10px;
  margin-top: 17px;
  text-align: center;
  cursor: pointer;
  height: 100%;
  padding: 7px 15px;
  border-radius: 4px;
  color: #ffffff;
  border:none;
}

.login-submit:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, rgba(185, 190, 180, 0.8)), color-stop(1, rgba(220, 220, 220, 0.7)));
  background:-moz-linear-gradient(top, rgba(185, 190, 180, 0.8) 5%, rgba(220, 220, 220, 0.7) 100%);
  background:-webkit-linear-gradient(top, rgba(185, 190, 180, 0.8) 5%, rgba(220, 220, 220, 0.7) 100%);
  background:-o-linear-gradient(top, rgba(185, 190, 180, 0.8) 5%, rgba(220, 220, 220, 0.7) 100%);
  background:-ms-linear-gradient(top, rgba(185, 190, 180, 0.8) 5%, rgba(220, 220, 220, 0.7) 100%);
  background:linear-gradient(to bottom, rgba(185, 190, 180, 0.8) 5%, rgba(220, 220, 220, 0.7) 100%);
  color: rgba(30, 40, 40, 0.7);
}
