.head-row {
  float: left;
  width: 100%;
}
.row {
  text-align: center;
  float: left;
  width: 100%;
  flex-direction: row;
  align-items: center;
}

.row:hover {
  background-color: rgba(180, 130, 100, 0.09);
  cursor: pointer;
}

.head {
  margin: 2px 5%;
  padding: 3px;
  font-weight: bold;
  font-size: 1rem;
}

.cell {
  background-color: rgba(80, 230, 100, 0.09);
  margin: 1px;
  display: inline-block;
  padding: 1px 0px;
  width: 33%;
  letter-spacing: 1px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(130, 155, 200, 0.75);;
  -moz-box-shadow: 10px 10px 5px 0px rgba(130, 155, 200, 0.75);;
  box-shadow: 2px 2px 2px 0px rgba(130, 155, 200, 0.75);;
}

.cell span {
  padding: 10px;
}

.row.table-header {
  text-align: center;
  font-weight: bold;
}

.table-header .cell {
  background-color: #a0cc72;
  padding: 2px 0px;
}

.cell.coll-1 {
  text-align: left;
}

.table-header .cell.coll-1 {
  text-align: center;
}

.table-container {
  width: 85%;
  margin: 0 auto;
}

.LocationFilter-wrapper {
  margin-left: 7.5%;
}

.StatusFilter-wrapper {
  margin-left: 7.5%;
}

@media screen and (max-width: 300px) {
  .row {
    flex-direction: column;
    align-items: flex-start;
  }
  .row.table-header {
    align-items: flex-start;
  }
  .cell {
    display: flex;
    width: 100%;
    align-items: flex-end;
  }
}
