.navContainer {
    height: 40px;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 0;
    background-color: rgba(145, 200, 95, 1);
    z-index: 100000;
    box-shadow: 0px 1px 2px 0px rgba(1, 50, 50, 0.95);
}

.navLink {
  display: inline-block;
  padding: 0 15px;
  cursor: pointer;
  text-decoration: none;
  color: rgb(0, 75, 230);
  letter-spacing: 2px;
}

.navCenter{
  padding: 3px;
}

.navLink:hover:after {
    transform: scaleX(1);
    cursor: pointer;
    padding: 0 15px 10px 15px;
    margin: 0 -15px 0 -15px;
}

.navLink:after {
    padding: 0 15px 10px 15px;
    display: block;
    content: '';
    border-bottom: solid 2px rgba(0, 75, 230, 1);
    transform: scaleX(0);
    transition: transform 400ms ease-in-out;
}

.active {
    display: inline-block;
    padding: 0 15px 0 15px;
    margin-bottom: -2px;
    cursor: pointer;
    text-decoration: none;
    color: rgb(0, 75, 230);
    letter-spacing: 2px;
    border-bottom: solid 2px rgba(0, 75, 230, 1);
    height: 94%;
}
